@import '../../assets/styles/variables'
    
.details
    display: flex
    flex-direction: column
    gap: 40px
    h1
        color: $color-white
        font-family: $title-principal

.detail
    color: $color-white
    &__card
        display: flex
        gap: 40px
        img
            width: 400px
            height: auto
        &-info
            display: flex
            flex-direction: column
            gap: 20px

@media (max-width: 425px)
    .detail
        &__card
            flex-direction: column
            img
                width: 100%