@import '../../../assets/styles/variables'
    
.error-404
    display: flex
    justify-content: center
    align-items: center
    height: 100vh
    background-image: url('../../../assets/images/portal-404.png')
    background-repeat: no-repeat
    background-size: contain
    background-position: center
    animation: rotateImage 10s infinite linear
    h1
        font-family: $title-principal
        font-weight: bolder
        color: $color-principal

@keyframes rotateImage 
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)