@import '../../../assets/styles/variables'
    
button
    display: flex
    align-self: center
    padding: 10px 30px
    width: fit-content
    text-transform: uppercase
    border: none
    border-radius: 50px
    cursor: pointer
    &.btn-principal
        color: $color-white
        background-color: $color-secundary
        border: 1px solid $color-secundary